/* h1{
  color: blue;
}

#red {
  color: red;
}

.ungu {
  color: purple;
}

h3, h4, h5{
  color: orange;
} */

.warnakelas {
  color: 	#8a2be2;
}

h2 {
  color: blue;
}

#idwarna{
  background-color: orange;
}

body{
  /* background-image: url("https://merahputih.com/media/81/c3/58/81c358bd1dc1c602a6754343ddd14e3f.jpg");
  background-repeat: no-repeat;
  background-position: center top; */
  background: orange url("../img/image.jpg") no-repeat center top;
}
